/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/_main.scss */
body {
  padding: 0 0 0 0;
  background-color: #F0F0F0;
  font-family: "museo-sans",sans-serif;
  font-size: 2em;
  color: RGBA(47, 63, 79, 1);
  line-height: 1.5; }

/* line 11, ../scss/_main.scss */
input {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 0;
  font-size: 1em; }

/* line 17, ../scss/_main.scss */
h2 {
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 1px 0 black; }

/* line 23, ../scss/_main.scss */
#title {
  background-color: RGBA(47, 63, 79, 0.9);
  color: white;
  padding: 0.5em 0 0.5em 1.5em;
  text-shadow: 2px 1px 0 black;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 31, ../scss/_main.scss */
.hidden {
  display: none; }

/* line 36, ../scss/_main.scss */
#water_or_coffee_first {
  display: inline-block;
  width: 100%;
  color: #A6B2BF; }

/* line 42, ../scss/_main.scss */
#coffee_to_water, #water_to_coffee {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 1.5em 0 1.5em; }

/* line 47, ../scss/_main.scss */
.highlighted {
  background-color: gray;
  color: white;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-shadow: 2px 1px 0 black; }

/* line 54, ../scss/_main.scss */
#water_form {
  background-color: RGBA(126, 187, 216, 1); }

/* line 59, ../scss/_main.scss */
#coffee_form {
  background-color: RGBA(230, 89, 87, 1); }

/* line 63, ../scss/_main.scss */
#water_form, #coffee_form {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em; }

/* line 68, ../scss/_main.scss */
#timers {
  background-color: gray;
  padding: 1em;
  margin-top: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 7em;
  float: right; }

/* line 77, ../scss/_main.scss */
button {
  font-size: 0.6em;
  padding: 0.8em;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color: #000;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 84, ../scss/_main.scss */
  button:hover {
    background-color: RGBA(230, 89, 87, 1); }

@media screen and (min-width: 616px) {
  /* line 95, ../scss/_main.scss */
  #coversion_forms {
    padding: 3em;
    width: 40%; }

  /* line 99, ../scss/_main.scss */
  #title {
    padding: 0.5em 0 0.5em 4.5em; } }
@media screen and (max-width: 615px) {
  /* line 105, ../scss/_main.scss */
  #coversion_forms {
    padding: 1.5em 0 0 0;
    width: 100%; }

  /* line 109, ../scss/_main.scss */
  #title {
    padding: 0.5em 0 0.5em 1.5em; } }
